<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <style>
      p{
         font-family: courier;
       }
       
     h1{text-align: center;}
     h3{text-align: center;}
          div{text-align: center;}
   </style>
</head>

l<body style="background-color:#FBF2F0;">
   <h1 style="font-family: courier; font-size: 40px">Assignment 4 </h1>
   <h1 style="font-family: courier; font-size: 15px">Animesh Gupta 1002036991 </h1> 
    <br>
      <div>
         <a href="/">Home</a><br><br>

         <form method="post" action="/Task3">
           R1<input type="text" name="r1">
           R2 <input type="text" name="r2">
            <input type="submit">
        </form>
      </div>
      
      <br>

</body>

</html>